@import "normalize.less";
@import "materialize.min.less";
@import "mixins.less";
@import "template.less";

@color-one: #1d1d1d; // a
@color-two: #bbde53; // category counter
@gray: #ccc;

.three_rem {
 font-size: 3rem!important;
}
//body {background-color: @color-two;}
// Side panel
.side-nav {
  #categories::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #fff;
  }
  #categories::-webkit-scrollbar {
    width: 6px;
  }
  #categories::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  ul {
    padding-top: 47px;
    height: 50%;
    overflow-y: auto;
  }
  li {
    display: flex;
    justify-content: flex-start;
    padding-right: 25px;

    a {
      margin-right: auto;
      width: 90%;
    }
    span {
      line-height: 20px;
      width: 20px;
      height: 20px;
      font-size: 0.6rem;
      text-align: center;
      margin-top: 13px;
      border: 1px solid @gray;
      //background-color: @color-two;
      .border-radius (50%);
    }
  }

  .bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    #upload {
      display: none;
    }
    #download, #upload-triger {
      font-size: 0.7rem;
    }
  }

}

.itembox {
  width: 100%;
  padding-left: 60px;
}
.item {
  float: left;
  border: 1px solid @gray;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 25px 10px;
  position: relative;
  .border-radius (2px);
  .shadow;

  img {
    width: 40px;
    height: auto;
    margin-top: -20px;
    background-color: #f8f8fa;
    border: 1px solid #f0f0f0;
    .border-radius (50%);
  }

  a.link {
    display: block;
    width: 100%;
    height: 100%;
  }

  .edit {
    width: 30px;
    height: 30px;
    margin: 10px 5px 0 5px;
    padding-top: 3px;
    opacity: 0;
    transition: opacity 0.1s linear;
    z-index: 9;
    cursor: pointer;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #b1ebed;
  }
  .edit {
    position: absolute;
    right: 0;
  }
  //.remove {
  //  float: right;
  //}
  .edit:hover {
    background-color: #f8f8fa;
    border: 1px solid #eeeeee;
    color: #23deea;
  }

}


.item:hover .edit {
  opacity: 1;
}

@media all and (max-width: 1024px){
  .edit {
    opacity: 1!important;
  }

}


.remove {
  float: left!important;
}


